

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.hero {
  height: 90vh;
}
.section {
  margin: 25px;
  border-radius: 15px;
  background-color: white;
}
.section-heading {
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  /* text-align: center; */
}
.section-body {

}
.large-display {
  font-family: 'Lora', serif;
  font-size: 125px;
  text-align: center;
  margin: 50px 0px 60px;
}
.sub-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20vh;
}



.blinking-cursor {
  border-color: black;
  border-width: 1px;
  border-left: solid;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@-webkit-keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@-ms-keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@-o-keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@media only screen and (max-width: 700px) {
  .large-display {
    font-size: 70px;
  }
}
