.form-container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 75px auto 100px;
}

form {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

form h2, input {
  margin-bottom: 25px;
}

h2 {
  font-size: xx-large;
  color:rgb(49, 46, 46);
}

label {
  font-size: large;
  margin-bottom: 5px;
  color:rgb(49, 46, 46);
}

p {
  color: red;
}

input {
  height: 30px;
  font-size: large;
  padding: 5px 8px;
  border-radius: 5px;
  border-color: gray;
  border-style: solid;
}

input:invalid {
  background-color: rgb(255, 255, 220);
}
