.content {
  height: 100%;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

ul {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: none;
}

.note-title {
  width: 100%;
  min-height: 50px;
  text-align: left;
  display: block;
  flex-direction: column;
  justify-items: center;
  font-size: medium;
  padding: 5px 10px;
}

.note-date {
  font-size: small;
  color: gray;
}

app-spinner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
