.content {
  height: 100%;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

ul {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.delete-btn {
  visibility: hidden;
}

li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  padding: 10px 7px;
}

li:hover .delete-btn {
  visibility: visible;
}

.delete-btn:active {
  visibility: visible;
  background-color: white;
}

.delete-btn:focus {
  visibility: visible;
  border: black solid 1px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.note-title {
  width: 100%;
  text-align: left;
  display: block;
  flex-direction: column;
  justify-items: center;
  font-size: medium;
  padding: 10px 15px;
  border-radius: 15px;
}

.note-title:hover {
  background-color: white;
  transform: translate(-2px, -2px);
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px 0;
}

.note-title:active {
  transform: none;
  box-shadow: none;
}

.note-title:focus {
  background-color: white;
}

.note-date {
  font-size: small;
  color: gray;
}

app-spinner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
