

.document {
  margin: 10px auto 0;
  max-width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 25px;
  outline: none;
}

app-spinner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
  width: calc(100% - 100px);
  min-height: 700px;
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0;
  padding: 50px;
  background-color: rgb(250, 250, 250);
  box-shadow: 2px 2px 4px 0 rgba(49, 46, 46, .5);
}

input{
  font-size: 25px;
  padding: 3px 9px;
  background: none;
  border-color: transparent;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

input:hover {

  border-color: rgb(116, 116, 116);
}

input:focus{
  cursor: text;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
}

.save-indicator {
  font-size: small;
  margin-left: 10px;
}

.saved {
  color: green;
}

.upperRight {
  position: fixed;
  top: 10px;
  right: 30px;
  cursor: pointer;
}

.upperLeft {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.lowerRight {
  position: fixed;
  bottom: 10px;
  right: 30px;
}

@media only screen and (max-width: 1200px) {
  .lowerRight {
    right: 120px;
    bottom: 20px;
    color: gray;
  }
}

@media only screen and (max-width: 1080px) {
  .lowerRight {
    right: 60px;
  }
}
