.document {
  background-color: white;
  margin: 25px auto 0;
  width:900px;
  height: 90vh;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: visible;
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
}
