.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 25px;
  background: white;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  max-width: 800px;
  width: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.button-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

button {
  margin-top: 10px;
  height: 40px;
  width: 300px;
  align-self: center;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f1f1f1;
  box-shadow: 1px 1px 2px 0 rgb(49, 46, 46);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  transform: translate(-1px, -1px);
  box-shadow: 2px 2px 2px 0 rgb(49, 46, 46);
}

button:active {
  background-color: #fdfdfd;
  box-shadow: inset -.5px -.5px .5px rgb(73, 73, 73);
  transform: translate(1px, 1px);
}
